@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.font-vibook {
  font-family: "Playfair Display", Georgia, serif;
}